.container__header{
    width: 100%;
    display: flex;
    padding: 50px;
    ;
}

.title{
    
    font-size: 40px;
}

.formuser__btn__create {
    width: 200px;
    height: 40px;
    margin-left: 70%;
    background-color: #555A88;
    border-radius: 4px;
    color: white;
    font-size: 15px;
}

.container__user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .container__header {
        padding: 30px;
    }

    .title {
        font-size: 24px;
    }

    .formuser__btn__create {
        width: 130px;
        height: 30px;
    }
}
